.box{
	min-height: 150px;
}
.red{
	background-color: red;
}
.green{
	background-color: green;
}
.blue{
	background-color: blue;
}
.parallax-window {
    min-height: 500px;
    background: transparent;
}
.box-s{
	
	min-height: 100px;
	padding: 5px 5px;
}.box-s img{
	width: 100% ;
}